fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
passlib[bcrypt]
python-jose[cryptography]
pydantic
email-validator
python-multipart
langchain
langchain-community
PyMuPDF
sentence-transformers
faiss-cpu
langchain-openai
tenacity
langgraph
